# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Python environment
env/

/www/node_modules/
/www/static/dist/
/www/static/css/
/www/pathways_server
*.exe

# >:(
.DS_Store
*.DS_Store
*/.DS_Store

__pycache__

/www/logging/pathways_logging.db
.vscode/
