@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans|Raleway&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";

$cornell_red: #B31B1B;

* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: $cornell_red;
    height: 10vh;
}

#container {
    width: 100%;
    height: 90vh;

    margin: auto;

    & > div { height: 100%; }
}

#left {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 0;

    #status {
        margin-left: 10px;
        margin-top: 10px;
    }

    #deck {
        flex-grow: 1;
        overflow-y: scroll;
    }
}

#left #deck .card {
    margin: 10px;
    
    .card-header {
        display: flex;
        flex-direction: row;

        div {
            $height: 24px;
            height: $height;
            line-height: $height;
        }

        div.code {
            min-width: 80px;
            font-weight: bold;
            font-size: 14px;
        }

        div.name {
            margin-left: 5px;
            flex-grow: 1;
            font-style: italic;
            overflow: hidden;
            white-space: nowrap;

            a { color: black; }
        }

        div.cred {
            flex: 0 0 20px;
            text-align: right;
        }
    }
    
    .card-text {
        font-family: nunito;
    }
}

#right {
    overflow:scroll;
    
    .card { margin-top: 15px; }

    rect,text { cursor: pointer; }
}

.context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid #d4d4d4;
    z-index:1200;
  }
  
  .context-menu ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
  }
  
  .context-menu ul li {
    padding: 4px 16px;
  }
  
  .context-menu ul li:hover {
    background-color: #4677f8;
    color: #fefefe;
  }
