@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans|Raleway&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";

$cornell_red: #B31B1B;

* {
    margin: 0;
    box-sizing: border-box;
}

.btn {
    cursor: pointer;
}

.navbar {
    background-color: $cornell_red;
    height: 10vh;

    .navbar-brand {
        font-family: Raleway;
        font-size: 28px;
    }

    #major {
        color: white;
        font-size: 20px;
        padding-left:10px;
        padding-right: 10px;
    }

    .navbar-text {
        color: white;
        font-family: Raleway;
        font-size: 16px;
        padding-right: 5px;
    }
}

#container {
    width: 100%;
    height: 90vh;

    margin: auto;

    &>div {
        height: 100%;
    }
}

.menutext {
    font-family: Raleway;
    font-size: 20px;
}

.menutext-sm {
    font-family: Raleway;
    font-size: 16px;
}

#right {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 0px;

    #status {
        margin-left: 10px;
        margin-top: 10px;
    }

    #deck {
        flex-grow: 1;
        overflow-y: scroll;
    }

    .searchform {
        width: 100%;
    }

    .searchmenu {
        padding: 5px 10px;
    }
}

#deck .card {
    margin: 10px;
    animation: card-anim 0.4s ease;

    .card-header {
        display: flex;
        flex-direction: row;

        div {
            $height: 24px;
            height: $height;
            line-height: $height;
        }

        div.code {
            font-weight: bold;
            font-size: 14px;
            flex-basis: content;
            flex-shrink: 0;
        }

        div.name {
            margin-left: 5px;
            flex-grow: 1;
            font-style: italic;
            overflow: hidden;
            white-space: nowrap;

            a {
                color: black;
            }
        }

        div.cred {
            flex: 0 0 60px;
            text-align: right;
        }
    }

    .card-text {
        font-family: nunito;
    }
}

#left {
    padding: 0px;
    overflow: scroll;

    circle,
    text {
        cursor: pointer;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
    }

    button {
        margin: 10px;
    }

    .table {
        margin:auto;
        text-align: center;
    }
    td:hover {
        background-color: #4677f8;
    }
    .hover {
        background-color: #4677f8;
    }

    #vismenu {
        width: 100%;
        background-color: #eee;
        padding-left: 15px;
        padding-bottom: 5px;
    }
}

.context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid #d4d4d4;
    z-index: 1200;
}

.context-menu ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
}

.context-menu ul li {
    padding: 4px 16px;
}

.context-menu ul li:hover {
    background-color: #4677f8;
    color: #fefefe;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tune-info:hover .tooltiptext {
    visibility: visible;
}

@keyframes card-anim {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
