@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans|Raleway&display=swap');

$montserrat: "Montserrat", sans-serif;

#bg {
    height: 100vh;
    
    display: flex;
    align-items: center;

    background: url(static/cornell.jpg) no-repeat center/cover;

    .jumbotron {
        margin: auto 10%;
        width: 400px;
        background-color: rgba(233, 236, 239, 0.5);

        select { -webkit-appearance: none; }

        button { margin: 5px 0; }
    }

    .content {
        margin-left: 100px;
        position: absolute;
        top: 20%;

        display: flex;
        flex-direction: row;

        h1 { 
            display: inline;
            color: white;
            margin-right: 20px;
        }

        .form-inline {
            display: inline-flex;
        }

        select { 
            width: 300px;
            -webkit-appearance: none; 
        }

    }
}
