@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans|Raleway&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

div#bg {
    background-image: url('../img/cornell.jpg');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}

div#content {
    padding: 10px;
    margin: auto 10%;

    background-color: rgba(255, 255, 255, 0.4);

    font-family: Montserrat;
    border: 3px solid white;
    color: white;
}

h1 {
    font-size: 80px;
}

span, input {
    font-size: 20px;
}

input[type='text'] {
    background-color: transparent;
    display: inline-block;
    
    margin-left: 10px;
    padding: 10px 0;

    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;

    color: white;
    font-family: Montserrat;
}

input[type='text']:focus {
    outline: none;
}
