@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans|Raleway&display=swap');

$montserrat: "Montserrat", sans-serif;

$input-height: 48px;

#bg {
    height: 100vh;
    
    display: flex;

    background: url(../img/cornell.jpg) no-repeat center/cover;
}

.content {
    margin-left: 100px;
    position: absolute;
    top: 20%;

    display: flex;
    flex-direction: row;

    h1 { 
        //font-family: Montserrat;
        display: inline;
        color: white;
        margin-right: 20px;
    }

    .form-inline {
        display: inline-flex;
        width: 50vw;

        input {
            height: $input-height;
        }
    }

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.473);
    text-align: center;
}

.twitter-typeahead {
    flex-grow: 1;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-menu {
    @extend .list-group;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 500px;
    top: $input-height + 10px !important;
}

.tt-suggestion {
    @extend .list-group-item;
    cursor: pointer;

    &:hover { @extend .active; }
}

.tt-selectable {
    @extend .list-group-item-action;
}

.tt-input, .tt-hint {
    @extend .form-control-lg;
    width: 100% !important;
}
