@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans|Raleway&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    height: 100vh;
}

#container > div {
    height: 100%;
    width: 100px;
    flex-grow: 1;
}

#left {
    background-color: #eee;
}

#head {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    background-color: #B31B1B;
}

#major {
    font-family: Montserrat;
}

#title {
    flex-grow: 1;
    height: 100%;
    color: white;
    line-height: 70px;
    padding-left: 20px;
    font-family: Montserrat, sans-serif;
}

#major {
    height: 100%;
    width: 200px;
    text-align: center;
    line-height: 70px;

    background-color: white;
}

input[type='text'] {
    border: none;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    font-family: Montserrat;
}

input[type='text']:focus {
    outline: none;
    border: 1px solid grey;
}

#bar {
    padding: 10px;
}

#bar input {
    background-color: white;
    width: 50%;
    border: 2px solid grey;
}

h2#status {
    font-family: Montserrat;
    margin-left: 10px;
    font-weight: lighter;

}

.course {
    margin:  10px 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #c0c0c0;

    background-color: white;
    transition: background-color 0.5s;

    cursor: pointer;
}

.course:hover {
    background-color: #f8f8f8;
}

.course .top {
    display: flex;
    flex-direction: row;

    font-family: Montserrat;
}

.course p {
    margin-top: 5px;
    font-family: nunito;
    font-size: 15px;
}

.course .top div {
    font-size: 16px;
    display: inline-block;
}

.course .top div.coursecode {
    font-weight: bold;
    width: 80px;

    font-weight: bold;
}

.course .top div.coursename {
    flex-grow: 1;
}

.course .top div.coursecred {
    width: 80px;
    font-style: italic;
    font-size: 14px;
    text-align: right;
}
