@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans|Raleway&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100vh;

    margin: auto;

    & > div {
        height: 100%;
        width: 100px;
        flex-grow: 1;
    }
}

#left {
    background-color: #eee;
    display: flex;
    flex-direction: column;

    form {
        height: 70px;
    }

    #status {
        padding-left: 10px;
        height: 40px;
    }

    #deck {
        flex-grow: 1;
        overflow-y: scroll;
    }

}

#left #head {
    $header-height: 70px;

    display: flex;
    flex-direction: row;

    height: $header-height;
    width: 100%;

    background-color: #B31B1B;

    #title {
        flex-grow: 1;
        height: 100%;

        a.h1, a.h1:hover {
            display: inline-block;
            padding: 0 20px;
            line-height: $header-height;
            color: white;
            height: 100%;
            
            text-decoration: none;
        }

    }

    #major {
        height: 100%;
        width: 200px;
        text-align: center;
        line-height: $header-height;

        background-color: white;
    }
}

#left form {
    padding: 10px;

    div.input-group {
        flex-grow: 1;
    }

}

#left #deck .card {
    margin: 10px;
    
    .card-header {
        display: flex;
        flex-direction: row;

        div {
            $height: 24px;
            height: $height;
            line-height: $height;
        }

        div.code {
            width: 80px;
            font-weight: bold;
            font-size: 14px;
        }

        div.name {
            flex-grow: 1;
            font-style: italic;
            overflow: hidden;
        }

        div.cred {
            width: 80px;
            text-align: right;
        }
    }
    
    .card-text {
        font-family: nunito;
    }
}

